In [1]:
import pandas as pd

In [2]:
file_path = 'Resources/election_data.csv'

In [3]:
election = pd.read_csv(file_path)
election.tail()

         Voter ID County Candidate
3520996  18050509  Marsh      Khan
3520997  13060332  Marsh      Khan
3520998  16754708  Queen      Khan
3520999  12083146  Queen      Khan
3521000  14526187  Queen  O'Tooley

In [4]:
#The total number of votes cast
votes_cast = election['Voter ID'].count()

In [5]:
election.set_index('Candidate').head()

           Voter ID County
Candidate
Khan       12864552  Marsh
Correy     17444633  Marsh
Khan       19330107  Marsh
Khan       19865775  Queen
Khan       11927875  Marsh

In [6]:
election = election.groupby('Candidate').count()
election

           Voter ID   County
Candidate
Correy       704200   704200
Khan        2218231  2218231
Li           492940   492940
O'Tooley     105630   105630

In [10]:
# Counting votes for each candidates
correy_vote = election.loc['Correy','Voter ID']
Khan_vote = election.loc['Khan','Voter ID']
Li_vote = election.loc['Li','Voter ID']
tooley_vote = election.loc["O'Tooley","Voter ID"]

# Calcuating the vote percentage for each candidate
Khan_vote_percentage = Khan_vote/int(votes_cast)
correy_vote_percentage = correy_vote/int(votes_cast)
Li_vote_percentage = Li_vote/int(votes_cast)
tooley_vote_percentage = tooley_vote/int(votes_cast)

In [17]:
print(f'''Election Results
-------------------------
Total Votes: {votes_cast}
-------------------------
Khan: {Khan_vote_percentage:.2f}% ({Khan_vote})
Correy: {correy_vote_percentage:.2f}% ({correy_vote})
Li: {Li_vote_percentage:2f}% ({Li_vote})
O'Tooley: {tooley_vote_percentage:2f}% ({tooley_vote})
-------------------------
Winner: Khan
-------------------------''')

Election Results
-------------------------
Total Votes: 3521001
-------------------------
Khan: 0.63% (2218231)
Correy: 0.20% (704200)
Li: 0.140000% (492940)
O'Tooley: 0.030000% (105630)
-------------------------
Winner: Khan
-------------------------