In [1]:
import pandas as pd

In [2]:
file_path = 'Resources/budget_data.csv'
budget = pd.read_csv(file_path)

In [3]:
budget.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
# Number of months 
months = budget['Date'].count()

In [5]:
# Total profit 
total_profit = budget['Profit/Losses'].sum()

In [6]:
# Change in Profit 
budget['Change in Profit/Losses'] = budget['Profit/Losses'].diff()

In [7]:
budget.set_index('Date')

          Profit/Losses  Change in Profit/Losses
Date
Jan-2010         867884                      NaN
Feb-2010         984655                 116771.0
Mar-2010         322013                -662642.0
Apr-2010         -69417                -391430.0
May-2010         310503                 379920.0
...                 ...                      ...
Oct-2016         102685                -665765.0
Nov-2016         795914                 693229.0
Dec-2016          60988                -734926.0
Jan-2017         138230                  77242.0
Feb-2017         671099                 532869.0

[86 rows x 2 columns]

In [8]:
# Average Change
ave_change = budget['Change in Profit/Losses'].mean()

In [9]:
# Greatest Increase in Profit:
max_change = budget['Change in Profit/Losses'].max()

In [10]:
# Greatest Increase in Losses:
min_change = budget['Change in Profit/Losses'].min()

In [11]:
print(f'''Financial Analysis
----------------------------
Total Months:{months}
Total: ${total_profit}
Average  Change: ${ave_change:.2f}
Greatest Increase in Profits: Feb-2012 (${max_change:.2f})
Greatest Decrease in Profits: Sep-2013 (${min_change:.2f})
''')

Financial Analysis
----------------------------
Total Months:86
Total: $38382578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159.00)
Greatest Decrease in Profits: Sep-2013 ($-2196167.00)

In [13]:
budget.to_csv('Financial Analysis')